.contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagen-contenedor {
    position: relative;
}

.imagen-contenedor img {
    width: 100%;
    height: 500px;
    display: block;
    cursor: pointer;
}

.imagen-oculta {
    display: none;
}


/*-------*/

@font-face {
    font-family: 'moon_get-Heavy';
    src: url('fonts/moon_get-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*body {
    font-family: 'DelaGothicOne-Regular', sans-serif;
}*/


.nav-link {
    font-family: 'moon_get-Heavy', sans-serif;
    color: rgb(93, 95, 91);
    font-size: 2rem;
}

.nav{
    display:flex;
    justify-content: space-evenly;

}